/* theme-darkly.css */

/* Set dark background color for the entire dashboard */
body {
    background-color: #212121;
    color: #003366; /* Set default text color to white */
    text-align: center;
    font-weight: bold;
}

/* Dark background color for header and footer */
.navbar-inverse, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    background-color: #66BCA3;
    /* border-color: #ffffff; */
}

/* Set text color for header and footer */
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    
}

/* Dark background color for sidebar */
.sidebar {
    background-color: #000000;
}

/* Set text color for sidebar */
.sidebar li a {
    color: #fff;
}

/* Dark background color for content area */
.content-wrapper {
    background-color: #454d55;
}

/* Set text color for content area */
.content-wrapper p, .content-wrapper h1, .content-wrapper h2, .content-wrapper h3, .content-wrapper h4, .content-wrapper h5, .content-wrapper h6 {
    color: #ffffff;
}
.chart-title {
    background-color: #CCCCCC; /* Dark purple background */
    color: #212121 ; /* Cyan text color */
    font-weight: bold;
    text-align: center;
    padding: 5px; /* Adjust padding as needed */
    margin-bottom: 0px; /* Adjust margin as needed */
}
.chart-wrapper .chart-stage {
    overflow: hidden;
    padding: 0px 0px;
    position: relative;
    background-color: #212121;
}
/* Additional custom styles can be added as needed */
